.wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    gap: 10px;
    margin-top: 60px;
    height: calc(100vh - 60px);
    position: relative;
}

.header > h1 {
    font-size: var(--font-800);
    color: var(--font-color);
    margin-bottom: 20px;
    text-transform: capitalize;
    animation: changeColor 10s infinite alternate both;
}

@media (max-width: 575px) {
    .header > h1 {
        white-space: break-spaces;
    }
}

.header > span {
    color: var(--font-color);
    font-size: var(--font-700);
}

.certificate {
    margin-left: auto;
    transition: 0.3s;
}

.certificate img {
    width: 90px;
}

@media (min-width: 768px) {
    .certificate img {
        width: 160px;
    }
}

.certificate:hover {
    transform: scale(1.05);
}

.about {
    color: var(--font-color);
    font-size: var(--font-300);
    text-align: justify;
}

.arrow {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
}

.arrow > p {
    color: var(--font-color);
    font-size: var(--font-400);
    text-transform: capitalize;
    font-weight: bold;
}

.arrow > svg {
    animation: arrow 0.5s infinite alternate both;
    color: var(--font-color);
}

@keyframes arrow {
    from {
        transform: translateY(10px);
    }

    to {
        transform: translateY(0px);
    }
}

@keyframes changeColor {
    0% {
        color: #742e79;
    }

    20% {
        color: rgb(235, 60, 60);
    }

    40% {
        color: rgb(34, 197, 116);
    }

    60% {
        color: rgb(22, 97, 158);
    }

    80% {
        color: orange;
    }

    100% {
        color: rgb(255, 227, 71);
    }
}