.wrapper {
    height: 100vh;
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.wrapper h1 {
    font-size: var(--font-xl);
    color: var(--font-color);
    margin-bottom: 20px;
    animation: changeColor 10s infinite alternate both;
}

@keyframes changeColor {
    0% {
        color: #742e79;
    }

    20% {
        color: rgb(235, 60, 60);
    }

    40% {
        color: rgb(34, 197, 116);
    }

    60% {
        color: rgb(22, 97, 158);
    }

    80% {
        color: orange;
    }

    100% {
        color: rgb(255, 227, 71);
    }
}

.certificate {
    position: absolute;
    top: 70px;
    right: 20px;
    transition: 0.3s;
}

.certificate:hover {
    transform: scale(1.05);
}

.wrapper p {
    color: var(--font-color);
    font-size: var(--font-700);
}

.arrow {
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.arrow>p {
    color: var(--font-color);
    font-size: var(--font-400);
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.arrow>svg {
    animation: arrow 0.5s infinite alternate both;
    color: var(--font-color);
}

@keyframes arrow {
    from {
        transform: translateY(10px);
    }

    to {
        transform: translateY(0px);
    }
}