/* import fonts  */

@font-face {
  font-family: 'PopRalewaypins';
  src: url('../public/fonts/Raleway-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../public/fonts/Raleway-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../public/fonts/Raleway-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

/* start global */
:root {
  --main-color: #fff;
  --font-color: #111;
  --elements-color: #111;
  --elements-font-color: #fff;
  --shadow-color: #00000073;

  --font-family: 'Raleway', sans-serif;
  --font-200: 0.6rem;
  --font-300: 0.875rem;
  --font-400: 1rem;
  --font-600: 1.25rem;
  --font-700: 2rem;
  --font-800: 2.5rem;
  --font-xl: 3rem;
}

@media (max-width: 575px) {
  :root {
      --font-300: 0.75rem;
      --font-400: 0.9rem;
      --font-600: 1rem;
      --font-700: 1.5rem;
      --font-800: 2rem;
      --font-xl: 2.2rem;
  }
}

*, *::after, ::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: var(--font-family);
  letter-spacing: 0.05em;
  line-height: 1.5;
  color: var(--font-color);
  background-color: var(--main-color);
  transition: 0.3s;
}

img {
  display: block;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
}

a.active {
  opacity: 1 !important;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration { 
  -webkit-appearance: none; 
  appearance: none;
  margin: 0; 
}

h1 {
  font-size: var(--font-xl);
}

h2 {
  font-size: var(--font-700);
}

h3 {
  font-size: var(--font-600);
}

h4 {
  font-size: var(--font-400);
}

.section-margin {
  margin-bottom: 50px;
}


.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 575px) {
  .container {
      width: 100%;
  }
}
@media (min-width: 576px) {
  .container {
      max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
      max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
      max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
      max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
      max-width: 1320px;
  }
}
/* end global */


